@media (min-width: 1024px) {

   
    
    body {
        margin: auto;
        padding: 0 20px 20px 20px;
        background-color: white;
        width: 100%;
        
    }

    .nav-button, .h2-mob, ul h3, .close-btn {display: none;}
        


    
    .alt-nav {display: flex;
              float: right;
              margin-top: 15px;
              
                    
    }
    

    .alt-nav a {
        margin: 20px;
        text-decoration: none;
        color: white;
    }

    .alt-title {
        display: flex;
        margin-top: 88px;
        margin-left: 100px ;
        align-self: flex-start;
    }

    .info-page {
        display: flex;
        justify-content: left;
        flex-direction: column;
        width: 100%;
        margin-top: 18px;
        
    }

    .info-text {
        text-align: left;
        width: 450px;
    }

    .topic-style {
        border-radius: 3px;
        margin-top: 80px;
        padding-top: 0.5px;
        width: 220px;
        justify-content: left;
        position: relative;
        display: none;
    }

    .char-img {
        border: 1px solid;
        border-radius: 1px;
        height: 500px;
        width: 300px;
        display: block;
        position: relative;
        right: 48px ;
    }

    .kiryu-img {
        background: url(../imgs/Kazuma_Kiryu.png) no-repeat center top;
    }
    
    .majima-img {
        background: url(../imgs/majima-goro.png) no-repeat center top;
        background-size: 450px;
        
    }

    .char-img .majima-img {
        padding-left: 80px;
    }
    
    .saejima-img {
        background: url(../imgs/saejima-taiga.png) no-repeat center top;
        background-size: 450px;
    }
    
    .format-text {

        padding: 0px 12px;
        width: 32vw;
        
        display: block;
    }

     .footer-inf {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        height: 360px;
        background-color: rgb(34, 28, 28);
        
}

    .explore, .overview, .community {
        display: flex;
        flex-direction: column;
        padding-left: 150px;
        padding-top: 15px;
    }

    .adv {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }

    .footer-move {
        display: flex;
        padding: 40px;
        padding-left: 10px;
        justify-content: flex-end;
        
    }

    .explore a, .overview a, .community a, .adv a {
        margin: 8px;
        color: white;
        text-decoration: none;
    }

   h5 {
       color: white;
       font-weight: 800px;
       font-size: 20px;
   }

    
    
    .footer-fig {
        background: url(../imgs/tojo-logo.png) no-repeat center center;
        background-size: 120px;
        position: relative;
        top: 120px;
        left: 80px;
        height: 150px;
        width: 150px;
        font-size: 0;
    }

    .info-flow {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        
    }
   
    .flow-right {
        
        padding-right: 220px;
        flex-direction: row-reverse;

        

    }

    .flow-right .majima {
        padding-right: 120px;
        width: 50%;
        
        
    }

    
    .flow-left {
       padding-left: 249px;
    }

    .right-topic {
        position: relative;
        left: 75px;
        width: 80%;
        
    }

    .left-topic {
        padding-left: 420px;
    }
    

}
