@media (min-width: 1024px) {

   
    
    

    body {
        margin: auto;
        padding: 0 20px 20px 20px;
        background-color: white;
        width: 100%;
        
    }

    .nav-button, .h2-mob, ul h3, .close-btn {display: none;}
        


    
    .alt-nav {display: flex;
              float: right;
              margin-top: 15px;
              
                    
    }
    

    .alt-nav a {
        margin: 20px;
        text-decoration: none;
        color: white;
    }


    .banner {
   
        display: flex;
        background: url(../imgs/gotoku-wpp.jpg) no-repeat center;
        flex-direction: column;
        background-size: 1550px;
        opacity: 2.0;
        background-color: black;
        color: white;
        height: 500px;
        width: 100%;
        align-items: center;
        justify-content: center;
        line-height: 70px;
    }

    @font-face {
        font-family: yakuzaFont;
        src: url(../fonts/edosz.ttf);
    }

    .banner h2 {
        font-family: yakuzaFont;
        font-size: 80px;
        
    }

    .banner p {
        font-family: monospace ;
    }



    .alt-title {
        display: flex;
        margin-top: 88px;
        margin-left: 100px ;
        align-self: flex-start;
    }

    .info-page {
        display: flex;
        justify-content: left;
        flex-direction: column;
        width: 100%;
        margin-top: 18px;
    }

    .info-text {
        text-align: left;
        width: 450px;
        
    }

    .topic-style {
        border-radius: 3px;
        margin-top: 80px;
        padding-top: 0.5px;
        width: 220px;
        display: none;
        justify-content: left;
        position: relative;
        
    }

    .topic-align-left h2 {

       background-color: rgb(207, 35, 35);
       height: 40px;
       margin-top: 80px;
       padding-top: 7px;
       width: 300px;
       font-family: Arial, Helvetica, sans-serif; 
       border-radius: 4px;
       margin-left: 20px;
       color: white;
       display: block;
       
    }

   

    .topic-align-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }


    .topic-align-right h2 {

       background-color: rgb(207, 35, 35);
       align-self: flex-end;
       margin-right: 220px;
       color: white;
       height: 40px;
       margin-top: 80px;
       padding-top: 7px;
       width: 300px;
       display: block;

    }

    .topic-align-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }


    .char-img {
        border: 1px solid;
        border-radius: 5px;
        height: 450px;
        width: 300px;
        display: block;
        position: relative;
        right: 48px ;
        box-shadow: black 22px 21px;
    }

    .kiryu-img {
        background: url(../imgs/Kazuma_Kiryu.png) no-repeat center top;
    }
    
    .majima-img {
        background: url(../imgs/majima-goro.png) no-repeat center top;
        background-size: 450px;
        
    }

    .char-img .majima-img {
        padding-left: 200px;
    }
    
    .saejima-img {
        background: url(../imgs/saejima-taiga.png) no-repeat center top left;
        background-size: 450px;
        
    }
    
    .format-text {
        padding: 0px 12px;
        width: 80%;
        color: black;
        display: block;
    }

    .info-flow {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        
    }
   
    .flow-right  {
        
        padding-left: 250px;
        flex-direction: row-reverse;

        

    }



    .flow-right .majima {padding-right: 20px;}

    
    .flow-left {padding-left: 249px;}
       

    .right-topic {
        position: relative; left: 150px;
        width: 200px;
        margin-right: 720px;
        
    }

    .left-topic {
        position: relative;
        margin-left: 380px;
        width: 200px;
    }
    

 

   
    
   


   


}

